{
  "extends": [
    "kentcdodds",
    "kentcdodds/jest",
  ],
  "rules": {
    // stuff I haven't gotten around to updating in my config
    "no-process-exit": "off",
    "import/no-dynamic-require": "off",
    "import/no-unassigned-import": "off",
    "no-console": "off",
  }
}
