{
  "extends": [
    "kentcdodds",
    "kentcdodds/jest",
    "kentcdodds/prettier",
    "prettier",
  ],
  "rules": {
    // stuff I haven't gotten around to updating in my config
    "func-style": "off",
    "no-process-exit": "off",
    "import/no-dynamic-require": "off",
    "import/no-unassigned-import": "off",
    "no-unused-vars": [
      "error",
      {argsIgnorePattern: "^_", varsIgnorePattern: "^ignored"},
    ],
    "no-console": "off",
  }
}
